venv/
raw_data/
test/
verified_data/
train_data/images/
train_data/labels/
best/
knn_dataset/
dataset_treino_knn.csv
mlflow.db
models.txt
mlartifacts/
best.onnx
best.pt
knn_fitness.onnx
model.pkl
go.mod
go.sum
modelo_unico.pkl
yolov8n-pose.pt
models/modelo_unico.onnx
modelo_unico.onnx 